@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

@keyframes slidedown {
  from {
    opacity: 0.3;
    transform: translateY(100px);

  }

  to {
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1)
  }

  10% {
    transform: scale3d(1.2, 1.2, 1.2)
  }

  20% {
    transform: scaleX(1)
  }

  to {
    transform: scaleX(1)
  }
}

@keyframes pulseSlowly {
  0% {
    transform: scaleX(1)
  }

  70% {
    transform: scale3d(1.1, 1.1, 1.1)
  }

  to {
    transform: scaleX(1)
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
$regular: 'Montserrat';
$title: 'Montserrat';
$Ember: 'Amazon Ember', sans-serif;
$main-color: #a1bd39;
$main-color--1: #005649;
$main-color--2: #00604d;
$secondary-color: #e4022e;

$text: #fff;
$text-black: #000;
$fs-base: clamp(12px, 9.722px + 0.6329vw, 16px);

$fs-figure-title--m: 1.2em;
$fs-figure-title--d: 1.3em;
$fs-section-title: clamp(22px, 12.88px + 2.532vw, 38px);
$fs-section-subtitle: clamp(18px, 13.04px + 1.377vw, 26.7px);
$fw-bold: 700;
$fw-black: 900;

.fdb-block {
  margin-top: 0;
  padding: 0 0 1.5rem 0;
}

#es-rc #es-rc-content {
  font-family: $regular;
  font-size: $fs-base;
  font-weight: 300;
  line-height: 1.2;
  max-width: 992px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  .es-mobile-break {
    display: block;
  }

  .es-image-box {
    overflow: hidden;
  }

  .es-zoomin {
    opacity: 1;
    transition: 0.3s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  .es-pulseSlowly {
    animation: pulseSlowly 2s infinite;
  }

  .es-nowrap {
    white-space: nowrap;
  }

  .es-kv {
    &__container {
      padding: 0;
      min-height: 350px;
      aspect-ratio: 24 / 25;
      @media (min-width: 420px) {
        aspect-ratio: 248 / 175;
      }
    }

    &__packshotCtn {
      position: absolute;
      transform: translate(-50%);
      left: 50%;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      width: 80%;
      padding-bottom: 14px;
      gap: 2%;

      @media (min-width: 576px) {
        width: 94%;
      }

      @media (min-width: 768px) {
        //width: 85%;
        gap: 5%;
      }
      @media (min-width: 992px) {
        width: 90%;
        margin-bottom: 1.5rem;
      }
    }

    &__mobile {
      display: block;

      @media (min-width: 576px) {
        display: none;
      }
    }

    &__desktop {
      display: none;

      @media (min-width: 576px) {
        display: block;
      }
    }

    &__text {
      font-family: $title;
      font-weight: $fw-black;
      color: $text;
      padding: 0 10px;
      text-transform: uppercase;
      line-height: 1;
      //font-size: clamp(2.125rem, 1.627rem + 2.215vw, 3rem);
      //font-size: clamp(2.9rem, 2.4158rem + 2.1519vw, 3.75rem);
      font-size: clamp(2.1rem, 1.1601rem + 4.1772vw, 3.75rem);


      &--span {
        display: block;
        //font-size: calc(0.8 * clamp(2.125rem, 1.627rem + 2.215vw, 3rem));
        //font-size: clamp(1.9rem, 1.2734rem + 2.7848vw, 3rem);
        font-size: clamp(1.375rem, 0.428rem + 4.2089vw, 3.0375rem);
        margin-bottom: 8px;
      }
    }

    &__packshot {
      animation: slideleft 1s ease forwards;
      bottom: 0;
      left: 5%;
      height: 250px;
      // @media (min-width: 420px) {
      //   height: 275px;
      // }

      @media (min-width: 768px) {
        height: 375px;
      }

      @media (min-width: 992px) {
        height: 480px;
      }
    }

    &__background {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 200px;
      @media (min-width: 768px) {
        max-height: unset;
      }
    }
  }

  .es-features {
    font-family: $Ember;
    font-size: $fs-base;

    &__box {
      padding-inline: 0.75rem;

      // @media (min-width: 992px) {
      //   padding-inline: 1.5rem;
      // }
    }

    &__title {
      font-size: $fs-figure-title--m;
      font-weight: $fw-black;
      color: $text-black;
      max-width: 210px;

      &--4 {
        height: calc(1.2 * 3em);

        @media (min-width: 485px) {
          height: calc(1.2 * 2em);
        }
        @media (min-width: 521px) {
          height: calc(1.2 * 3em);
        }
      }
      
      @media (min-width: 768px) {
        height: calc(1.2 * 3em);

      }

      @media (min-width: 992px) {
        font-size: $fs-figure-title--d;
        margin-bottom: 16px;
      }

    }
    .title-top {
      @media (min-width: 391px) {
        height: calc(1.2 * 2em);
      }
      @media (min-width: 477px) {
        height: calc(1.2 * 1em);
      }
      @media (min-width: 391px) {
        height: calc(1.2 * 2em);
      }
      @media (min-width: 768px) {
        height: calc(1.2 * 3em);
      }
    }
    &__desc {
      font-size: $fs-base;
      font-weight: 500;
      color: $text-black;
      max-width: 210px;
    }

  }

  .es-description {
    // background: rgb(0, 97, 78);
    // background: linear-gradient(90deg, rgba(0, 97, 78, 1) 0%, #007f67 100%);
    background: rgb(4,94,72);
    background: -moz-linear-gradient(90deg, rgba(4,94,72,1) 22%, rgba(4,132,100,1) 40%, rgba(4,109,84,1) 67%, rgba(4,124,97,1) 95%, rgba(4,116,92,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(4,94,72,1) 22%, rgba(4,132,100,1) 40%, rgba(4,109,84,1) 67%, rgba(4,124,97,1) 95%, rgba(4,116,92,1) 100%);
    background: linear-gradient(90deg, rgba(4,94,72,1) 22%, rgba(4,132,100,1) 40%, rgba(4,109,84,1) 67%, rgba(4,124,97,1) 95%, rgba(4,116,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#045e48",endColorstr="#04745c",GradientType=1);

    &__text {
      font-family: $title;
      font-size: $fs-section-title;
      font-weight: $fw-bold;
      text-transform: uppercase;
      color: $text;
      width: 95%;
      margin: auto;
    }

    &__subtitle {
      color: $text;
      padding: 0 10px;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: $fs-section-subtitle;
      font-family: $title;
      line-height: 1.3;
      margin: 0 auto 10px;
    }

    &__box>img {
      width: 65%;

      @media (min-width: 992px) {
        width: 57%;
      }
    }

    &__list {
      text-align: left;
      list-style-type: none;
      padding-left: 18%;
    }

    &__item {
      color: $main-color;
      font-weight: $fw-bold;
      padding-top: 5px;
    }

    &__bullet {
      margin-right: 5px;
      animation: pulse 5s infinite;
      width: 16px;

      &--2 {
        animation-delay: 1s;
      }

      &--3 {
        animation-delay: 2s;
      }

      &--4 {
        animation-delay: 3s;
      }

      &--5 {
        animation-delay: 4s;
      }
    }

    &__text1 {
      text-align: center;
      color: $text;
      font-weight: 300;
      font-size: $fs-base;

      @media (min-width: 992px) {
        max-width: 93%;
        margin: auto;
      }
    }
  }

  .es-relief {
    &__title {
      font-family: $title;
      font-size: $fs-section-title;
      color: $main-color--2;
      font-weight: $fw-black;
      text-transform: uppercase;
      line-height: 1;
      top: 45%;
      left: 5%;
      transform: translateY(-50%);

      &--italic {
        font-style: italic;
      }

      &--middle {
        font-size: calc(3 * $fs-section-title);
        color: $main-color;
      }
    }

    &__mobile {
      display: block;

      @media (min-width: 576px) {
        display: none;
      }
    }

    &__desktop {
      display: none;

      @media (min-width: 576px) {
        display: block;
        min-height: 234px;
        object-fit: cover;
        object-position: 72%;
      }
    }
  }

  .es-why {
    background-color: $main-color;
    font-family: $Ember;

    .es-features__title {
      height: 2em;
    }
  }

  .es-dose {
    // background: rgb(0, 97, 78);
    // background: linear-gradient(90deg, rgba(0, 97, 78, 1) 0%, #007f67 100%);
    background: rgb(4,94,72);
    background: -moz-linear-gradient(90deg, rgba(4,94,72,1) 22%, rgba(4,132,100,1) 40%, rgba(4,109,84,1) 67%, rgba(4,124,97,1) 95%, rgba(4,116,92,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(4,94,72,1) 22%, rgba(4,132,100,1) 40%, rgba(4,109,84,1) 67%, rgba(4,124,97,1) 95%, rgba(4,116,92,1) 100%);
    background: linear-gradient(90deg, rgba(4,94,72,1) 22%, rgba(4,132,100,1) 40%, rgba(4,109,84,1) 67%, rgba(4,124,97,1) 95%, rgba(4,116,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#045e48",endColorstr="#04745c",GradientType=1);

    &__grid {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      background-color: #a1bd39;
      border-radius: 15px;
      color: #fff;
      -webkit-box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      -moz-box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      
      height: 340px;
      @media (min-width: 992px) {
        font-size: calc(1.15 * $fs-base);
        height: 415px;
        
      }

      &--row {
        display: grid;
        grid-template-columns: 42% 1fr;
        padding: 1rem;
        align-content: center;
        &:nth-of-type(2n) {
          background-color: #bad45b;
        }

        &:last-of-type {
          border-radius: 0 0 15px 15px;
        }
      }
    }

    &__bold {
      font-weight: $fw-bold;
    }

    &__textUnderBox {
      font-size: $fs-base;
      color: $text;
    }

    &__box {
      padding: 0;
      background-color: $main-color;
      border-radius: 15px;
      color: $text;
      -webkit-box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      -moz-box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      aspect-ratio: 551 / 479;
      display: grid;
      place-items: center;
      @media (min-width: 992px) {
        aspect-ratio: unset;
        height: 415px;
      }
    }

    &__figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: $fs-base;
      font-family: $Ember;
      padding: 1rem;

      @media (min-width: 992px) {
        font-size: calc(1.25 * $fs-base);
      }

      img {
        height: 250px;
        //width: 35%;
        aspect-ratio: 110 / 291;
        @media (min-width: 576px) {
          height: 300px;
        }
        @media (min-width: 768px) {
          height: 350px;
        }
        @media (min-width: 992px) {
          height: 250px;
        }
      }
    }

    &__name {
      text-align: center;
      color: $text;
      font-size: calc(1.3 * $fs-base);
      margin-top: 10px;

      @media (min-width: 992px) {
        font-size: calc(1.625 * $fs-base);
      }
    }

    &__description {
      color: $text-black;
      margin-block: 7px;

      @media (min-width: 992px) {
        max-width: 59%;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        font-size: calc(1.2 * $fs-base);
      }
    }

    &__title {
      font-family: $title;
      font-size: $fs-section-title;
      font-weight: $fw-bold;
      color: $text;
      text-transform: uppercase;
    }
  }


  .es-cross {
    font-family: $Ember;

    &__title {
      width: 100%;
    }

    &__text {
      font-family: $title;
      font-size: $fs-section-title;
      font-weight: $fw-bold;
      text-transform: uppercase;
      color: $main-color--1;
    }

    &__badge {
      position: absolute;
      width: max-content;
      padding: 5px 10px;
      top: -10px;
      left: -10px;
      color: $text;
      background-color: $secondary-color;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }

    &__head {
      font-size: calc(1.67 * $fs-base);
      font-weight: 800;
      color: $main-color--1;
    }

    &__image {
      max-height: 170px;
      @media (min-width: 992px) {
        max-height: 220px;
      }
    }

    &__emptyImage {
      height: calc(170px + 1rem);
      @media (min-width: 992px) {
        height: calc(220px + 1rem);
      }
    }

    & table {
      padding: 0;
      margin: 0;
      border-color: transparent;
      font-size: $fs-base;
    }

    &__table--left tbody {
      border: 3px solid white;
    }
    .text-left--0 {
      height: 80.3px;
    }
    .text-left--1 {
      height: 44.8px;
      @media (min-width: 576px) {
        height: 48.05px;
      }
      @media (min-width: 992px) {
        height: 54.4px;
      }
    }

    &__bordered-1 {
      & tbody {
        border: 3px solid $main-color;
        border-radius: 10px;
      }
      
    }
.header-row {
        height: 80.3px;
      }
    &__bordered-2 {
      & tbody {
        border: 3px solid #71c7d6;
        border-radius: 10px;
      }
    }

    & td {
      vertical-align: middle;
      border: none;
      min-width: 150px;
      color: $text-black;
      //font-size: 14px;
      font-weight: 500;
    }

    & th {
      vertical-align: middle;
      border: none;
      min-width: 110px;
      color: $main-color--1;
      //font-size: 14px;
      font-weight: 500;
    }
    .es-articles__button {
      padding: 7px 21px;
    }
  }
  
  ::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar:vertical {
  width: 12px;
}
::-webkit-scrollbar:horizontal {
  height: 12px;
}
::-webkit-scrollbar-track{
    background-color: 	#E8E8E8;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $main-color--1;
}


  .es-articles {
    background-color: $main-color;

    &__title {
      width: 100%;
    }

    &__text {
      font-family: $title;
      font-weight: $fw-bold;
      font-size: $fs-section-title;
      color: $main-color--2;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    &__text1 {
      font-size: $fs-base;
      color: $main-color--1;
      margin-bottom: 0;
      @media (min-width: 992px) {
        padding-inline: 4rem;
        font-size: calc(1.2 * $fs-base);
      }
    }

    &__subtitle {
      font-size: $fs-base;
      color: $main-color--2;
      font-weight: 700;
      max-width: 360px;
      margin: 0 auto;
      @media (min-width: 992px) {
        font-size: calc(1.2 * $fs-base);
      }
    }

    &__button {
      text-decoration: none;
      color: $text;
      width: max-content;
      padding: 7px 14px;
      font-weight: $fw-bold;
      margin-bottom: 10px;
      font-size: 16px;
      border-radius: 99px;
      line-height: 1.3;
      margin: 0 auto 10px;
      background-color: $main-color--2;
      transition: all 200ms ease-in-out;
      &:hover {
        background-color: #FFF;
        color: $main-color--2;
        outline: 3px solid $main-color--2;
      }
      @media (min-width: 992px) {
        font-size: 20px;
        padding: 7px 14px;
      }
    }
  }

  .es-footer {
    font-family: $Ember;
    
    &__text {
      color: $text-black;
      font-size: $fs-base;
      font-weight: 400;
      line-height: 1.2;
      
      &--1 {
        font-size: 12px;
        white-space: nowrap;
        color: $main-color--1;
        font-weight: $fw-bold;
      }

      &--2 {
        font-weight: $fw-bold;
        
      }

      &--3 {
        font-size: $fs-section-title;
        font-weight: $fw-bold;
        color: $main-color--2;
      }

    }
    ol {
      padding-left: 1rem;
    }
  }
}


