@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/amazon-ember');


html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}  

@keyframes slidedown {
  from {
    opacity: 0.3;
    transform: translateY(100px);
   
  }
  to {
    opacity: 1;
    transform: translateY(0);
   
  }
}
@keyframes pulse {
  0% {
    transform: scaleX(1)
  }
  10% {
    transform: scale3d(1.2, 1.2, 1.2)
  }
  20% {
    transform: scaleX(1)
  }
  to {
    transform: scaleX(1)
  }
}
@keyframes pulseSlowly {
  0% {
    transform: scaleX(1)
  }
  70% {
    transform: scale3d(1.1, 1.1, 1.1)
  }
  to {
    transform: scaleX(1)
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
$regular: 'Montserrat';
$title: 'Montserrat';
$Ember: 'Amazon Ember', sans-serif;
$main-color: #a1bd39;
$main-color--1: #005649;
$main-color--2: #00604d;
$secondary-color: #e4022e;

$text: #fff;
$text-black: #000;

.fdb-block {
  margin-top: 0;
  padding: 0 0 1.5rem 0;
}
#es-rc #es-rc-content {
  font-family: $regular;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 992px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  .es-mobile-break {
    display: block;
  }
  .es-image-box {
    overflow: hidden;
  }
  .es-zoomin {
    opacity: 1;
    transition: 0.3s;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  .es-pulseSlowly {
    animation: pulseSlowly 2s infinite;
  }
  .es-nowrap {
    white-space: nowrap;
  }

  .es-kv {
    
    &__container {
      padding: 0;
      min-height: 350px;
    }
    &__packshotCtn {
      position: absolute;
      left: 50%;
    top: 50%;
    transform: translate(-50%,-33%);
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-inline: 14px;
    }
    &__title {
      // position: absolute;
      // top: 30px;
      // left: 15px;
    }
    &__mobile {
      display: block;
      @media (min-width: 576px) {
        display: none;
      }
    }
    &__desktop {
      display: none;
      @media (min-width: 576px) {
        display: block;
      }
    }
    &__text{
      color: $text;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 900;
      font-family: $title;
      line-height: 1;
      font-size: 38px;
      &--span {
        display: block;
        font-size: 24px;
        margin-bottom: 8px;
      }
      @media (min-width: 576px) {
        font-size: 25px;
      }
      p{
          // margin: 10px;
          letter-spacing: 1px;
      }
      &--green{
          color: $main-color;
      }
      &__sup {
        position: relative;
        font-size: 10px;
        top: -10px;
      }
    }
    &__packshot {
      //position: absolute;
      animation: slideleft 1s ease forwards;
      bottom: 0;
      left: 5%;
      width: 33%;
      @media (min-width: 576px) {
        bottom: -10%;
      left: 5%;
      }
    }
    &__background {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      @media (min-width: 576px) {
        bottom: -10%;
      }
    }
  }
  .es-features {
    font-family: $Ember;
    &__title {
      
      font-size: 20px;
      color: $text-black;
      max-width: 210px;
    }
    &__desc {
      font-size: 16px;
      font-weight: 500;
      color: $text-black;
      max-width: 210px;
    }
  }
  .es-description {
    background: rgb(0,97,78);
    background: linear-gradient(90deg, rgba(0,97,78,1) 0%, #007f67 100%);
    &__title {
      width: 100%;
      text-align: center;
    }
    &__text{
      text-align: center;
      color: $text;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto 10px;
      font-size: 38px;
      border-radius: 5px;
      font-family: $title;
      p{
          // margin: 10px;
          letter-spacing: 1px;
      }
    }
    &__text1{
      text-align: center;
      color: $text;
      font-weight: 300;
      font-size: 20px;
    }
    &__subtitle {
      color: $text;
      padding: 0 10px;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 26px;
      font-family: $title;
      line-height: 1.3;
      margin: 0 auto 10px;
    }
    &__list {
      text-align: left;
      list-style-type: none;
      padding-left: 13%;
    }
    &__item {
      color: $main-color;
      font-size: 20px;
      font-weight: 700;
      padding-top: 10px;
    }
    &__bullet {
      padding-right: 15px;
      animation: pulse 5s infinite;
      &--2 {
        animation-delay: 1s;
      }
      &--3 {
        animation-delay: 2s;
      }
      &--4 {
        animation-delay: 3s;
      }
      &--5 {
        animation-delay: 4s;
      }
    }
  }
  .es-relief {
    &__title {
      color: $main-color--2;
      font-size: 25px;
      line-height: 1;
      font-family: $title;
      font-weight: 900;
      text-transform: uppercase;
      top: 40%;
      left: 5%;
      transform: translateY(-50%);
      &--italic {
        font-style: italic;
      }
      &--middle {
        font-size: 45px;
        color: $main-color;
      }
    }
    &__mobile {
      display: block;
    }
    &__desktop {
      display: none;
    }
  }
  .es-why {
    background-color: $main-color;
    &__title {
      width: 100%;
      text-align: center;
    }
    // &__text{
    //   text-align: center;
    //   color: $text-blue;
    //   width: max-content;
    //   padding: 0 10px;
    //   text-transform: uppercase;
    //   font-weight: 900;
    //   transform: rotate(-3deg);
    //   margin: 0 auto 10px;
    //   font-size: 20px;
    //   border-radius: 5px;
    //   font-family: $title;
    //   line-height: 1.1;
    //   p{
    //       // margin: 10px;
    //       letter-spacing: 1px;
    //   }
    //   &--red{
    //     color: $text;
    //     padding: 0 10px;
    //     background-color: $secondary-color;
        
    //   }
    //   &--1 {
    //     position: relative;
    //     left: -35%;
    //   }
    //   &--2 {
        
    //   }
    //   &--3 {
    //     position: relative; 
    //     left: 13%;
    //     font-size: 25px;
    //     transform: rotate(-1.5deg);
    //     line-height: 1.3;
    //   }
    // }
  } 
  .es-dose {
    background: rgb(0,97,78);
    background: linear-gradient(90deg, rgba(0,97,78,1) 0%, #007f67 100%);
    &__box {
      padding: 0;
      background-color: $main-color;
      border-radius: 15px;
    }
    &__subtitleInBox {
      color: $text;
      padding: 20px 10px 10px;
      font-weight: 700;
      font-size: 23px;
      font-family: $title;
      line-height: 1.3;
      &--noTopPadding {
        padding: 0 20px 10px;
      }
    }
    &__subtitle {
      color: $text;
      padding: 30px 20px 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 38px;
      font-family: $title;
      line-height: 1.3;
    }
    &__text {
      color: $text-black;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.3;
    }
    &__textUnderBox {
      font-size: 14px;
      color: $text;
    }
  } 
  .es-video {
    margin: 0 auto 64px;
    width: 100%;
    position: relative;
    background-color: $main-color;
    &__container {
      margin: 0 auto;
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }
    &__iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &__text{
      text-align: center;
      color: $text;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto 10px;
      font-size: 38px;
      font-family: $title;
      line-height: 1.2;
      p{
          // margin: 10px;
          letter-spacing: 1px;
      }
      &--green{
        color: $main-color--1;
      }
    }
  }
  .es-cross { 
    &__title {
      width: 100%;
      text-align: center;
    }
    &__text{
      text-align: center;
      color: $main-color--1;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto 10px;
      font-size: 38px;
      font-family: $title;
      line-height: 1.3;
      p{
          letter-spacing: 1px;
      }
    }
    &__badge {
      position: absolute;
      width: max-content;
      padding: 5px 10px;
      top:-10px;
      left: -10px;
      color: $text;
      background-color: $secondary-color;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
    &__head {
      font-size: 20px;
      font-weight: 800;
    }
    &__image {
      max-height: 150px;
    }
    &__emptyImage {
      height: 160px;
    }
    & table {
      padding: 0;
      margin: 0;
      border-color: transparent;
    }

    &__bordered-1 {
      & tbody {
        border: 3px solid $main-color;
        border-radius: 10px;
      }
    }
    &__bordered-2 {
      & tbody {
        border: 3px solid #71c7d6;
        border-radius: 10px;
      }
    }
    & td {
      vertical-align: middle;
      border: none;
      min-width: 150px;
      color: $text-black;
      font-size: 14px;
      font-weight: 500;
    }
    & th {
      vertical-align: middle;
      border: none;
      min-width: 110px;
      color: $main-color--1;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .es-articles {
    background-color: $main-color;
    &__title {
      width: 100%;
      text-align: center;
    }
    &__text{
      text-align: center;
      color: $main-color--2;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 700
      ;
      margin: 0 auto 10px;
      font-size: 37px;
      border-radius: 5px;
      font-family: $title;
      line-height: 1.3;
      p{
          letter-spacing: 1px;
      }
    }
    &__text1 {
      font-size: 18px;
      color: $main-color--1;
      font-weight: 300;
    }
    &__subtitle {
      font-size: 18px;
      color: $main-color--2;
      font-weight: 700;
      max-width: 360px;
      margin: 0 auto;
    }
    &__button {
      text-decoration: none;
      color: $text;
      width: max-content;
      padding: 5px 10px;
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 20px;
      border-radius: 5px;
      line-height: 1.3;
      margin: 0 auto 10px;
      background-color: $main-color--2;
    }
  }
  .es-footer {
    &__text {
      color: $text-black;
      font-size: 14px;
      font-weight: 500;
      &--1{
        font-size: 12px;
        white-space: nowrap;
      }
      &--2{
        font-weight: 700;
      }
      &--3{
        font-size: 32px;
        font-weight: 700;
        color: $main-color--2;
      }
      &--italic{
        font-style: italic;
      }
    }
  }
}

.contents-25-icon {
    display:block;
    width: 50%;
    padding:5%;
    margin: 1em auto auto;
    aspect-ratio: 1;
    border-radius: 2000px;
}

@media (min-width:440px) {
  .es-kv {
    min-height: 350px;
    &__text{
      font-size: 35px;
      &__sup {
        top: -20px;
      }
    }
  } 
  .es-relief {
    &__title {
      font-size: 35px;
      top: 48%;
      transform: translateY(-50%);
      &--middle {
        font-size: 95px;
      }
    }
  }
}
@media (min-width:510px) {
  .es-kv {
    &__text{
      font-size: 37px;
      &--green {
        font-size: 50px;
      }

    }
  }
}

@media (min-width:576px) {

  .es-relief {
    &__title {
      font-size: 22px;
      &--middle {
        font-size: 60px;
      }
    }
    &__mobile {
      display: none;
    }
    &__desktop {
      display: block;
    }
  }
  .es-footer {
    &__text {
      &--1{
        font-size: 14px;
      }
    }
  }
}

@media (min-width:768px) {
  .es-kv {
    min-height: 550px;
    &__text{
      font-size: 35px;
      &__sup {
        top: -20px;
      }
    }
  } 
  .es-description {
    &__text {
      font-size: 38px;
    }
  }
  .es-cross {
    &__image {
      max-height: 200px;
    }
    &__emptyImage {
      height: 214px;
    }
  }
  .es-articles {
    &__text {
      font-size: 38px;
    }
  }
  .es-relief {
    &__title {
      top: 40%;
      font-size: 25px;
      &--middle {
        font-size: 70px;
      }
    }
  }
}

@media (min-width:992px) {
  .es-mobile-break {
    display: none;
  }
  .es-kv {
    &__title {
      top: 30px;
      left: 30px;
    }
    &__text{
      font-size: 40px;
      &--green{
        font-size: 48px;
      }
      &__sup {
        top: -23px;
      }
    }
    &__packshot {
      bottom: 0 ;
      right: 5% ;
    }
    &__background {
      bottom: 0;
      right: 0 ;
    }
  }
  .es-relief {
    &__title {
      top: 48%;
      font-size: 35px;
      &--middle {
        font-size: 95px;
      }
    }
  }
  .es-cross{
    &__articles {
      &:hover {
        background-color: $text-black;
      }
    }
  }  
  .contents-25-icon {
        width: 10%;
    }
}
