@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

@keyframes slidedown {
  from {
    opacity: 0.3;
    transform: translateY(100px);

  }

  to {
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1)
  }

  10% {
    transform: scale3d(1.2, 1.2, 1.2)
  }

  20% {
    transform: scaleX(1)
  }

  to {
    transform: scaleX(1)
  }
}

@keyframes pulseSlowly {
  0% {
    transform: scaleX(1)
  }

  70% {
    transform: scale3d(1.1, 1.1, 1.1)
  }

  to {
    transform: scaleX(1)
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
$regular: 'Montserrat';
$title: 'Montserrat';
$Ember: 'Amazon Ember', sans-serif;
$main-color: #a1bd39;
$main-color--1: #005649;
$main-color--2: #00604d;
$secondary-color: #e4022e;

$text: #fff;
$text-black: #000;
$fs-base: clamp(12px, 10.864px + 0.316vw, 14px);
$fs-figure-title--m: 1.2em;
$fs-figure-title--d: 1.4em;
$fs-section-title: clamp(22px, 12.88px + 2.532vw, 38px);
$fs-section-subtitle: clamp(18px, 13.04px + 1.377vw, 26.7px);
$fw-bold: 700;
$fw-black: 900;

.fdb-block {
  margin-top: 0;
  padding: 0 0 1.5rem 0;
}

#es-rc #es-rc-content {
  font-family: $regular;
  font-size: $fs-base;
  font-weight: 300;
  line-height: 1.2;
  max-width: 992px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  .es-mobile-break {
    display: block;
  }

  .es-image-box {
    overflow: hidden;
  }

  .es-zoomin {
    opacity: 1;
    transition: 0.3s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  .es-pulseSlowly {
    animation: pulseSlowly 2s infinite;
  }

  .es-nowrap {
    white-space: nowrap;
  }

  .es-kv {
    &__container {
      padding: 0;
      min-height: 350px;
    }

    &__packshotCtn {
      position: absolute;
      transform: translate(-50%);
      left: 50%;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      width: 92%;
      padding-bottom: 14px;
      gap: 2%;

      @media (min-width: 576px) {
        width: 90%;
      }

      @media (min-width: 768px) {
        width: 80%;
        gap: 5%;
      }
    }

    &__mobile {
      display: block;

      @media (min-width: 576px) {
        display: none;
      }
    }

    &__desktop {
      display: none;

      @media (min-width: 576px) {
        display: block;
      }
    }

    &__text {
      font-family: $title;
      font-weight: $fw-black;
      color: $text;
      padding: 0 10px;
      text-transform: uppercase;
      line-height: 1;
      font-size: clamp(2.125rem, 1.627rem + 2.215vw, 3rem);

      &--span {
        display: block;
        font-size: calc(0.8 * clamp(2.125rem, 1.627rem + 2.215vw, 3rem));
        margin-bottom: 8px;
      }
    }

    &__packshot {
      animation: slideleft 1s ease forwards;
      bottom: 0;
      left: 5%;
      height: 250px;

      @media (min-width: 768px) {
        height: 300px;
      }

      @media (min-width: 992px) {
        height: 350px;
      }
    }

    &__background {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 200px;
    }
  }

  .es-features {
    font-family: $Ember;
    font-size: $fs-base;

    &__box {
      padding-inline: 0.75rem;

      @media (min-width: 992px) {
        padding-inline: 1.5rem;
      }
    }

    &__title {
      font-size: $fs-figure-title--m;
      font-weight: $fw-black;
      color: $text-black;
      max-width: 210px;

      &--4 {
        height: calc(1.2 * 3em);

        @media (min-width: 460px) {
          height: calc(1.2 * 2em);
        }
      }

      @media (min-width: 768px) {
        height: calc(1.2 * 3em);

      }

      @media (min-width: 992px) {
        font-size: $fs-figure-title--d;
        margin-bottom: 16px;
      }
    }

    &__desc {
      font-size: $fs-base;
      font-weight: 500;
      color: $text-black;
      max-width: 210px;
    }

  }

  .es-description {
    background: rgb(0, 97, 78);
    background: linear-gradient(90deg, rgba(0, 97, 78, 1) 0%, #007f67 100%);

    &__text {
      font-family: $title;
      font-size: $fs-section-title;
      font-weight: $fw-bold;
      text-transform: uppercase;
      color: $text;
      width: 95%;
      margin: auto;
    }

    &__subtitle {
      color: $text;
      padding: 0 10px;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: $fs-section-subtitle;
      font-family: $title;
      line-height: 1.3;
      margin: 0 auto 10px;
    }

    &__box>img {
      width: 65%;

      @media (min-width: 992px) {
        width: 57%;
      }
    }

    &__list {
      text-align: left;
      list-style-type: none;
      padding-left: 18%;
    }

    &__item {
      color: $main-color;
      font-weight: $fw-bold;
      padding-top: 5px;
    }

    &__bullet {
      margin-right: 5px;
      animation: pulse 5s infinite;
      width: 16px;

      &--2 {
        animation-delay: 1s;
      }

      &--3 {
        animation-delay: 2s;
      }

      &--4 {
        animation-delay: 3s;
      }

      &--5 {
        animation-delay: 4s;
      }
    }

    &__text1 {
      text-align: center;
      color: $text;
      font-weight: 300;
      font-size: $fs-base;

      @media (min-width: 992px) {
        max-width: 81%;
        margin: auto;
      }
    }
  }

  .es-relief {
    &__title {
      font-family: $title;
      font-size: $fs-section-title;
      color: $main-color--2;
      font-weight: $fw-black;
      text-transform: uppercase;
      line-height: 1;
      top: 45%;
      left: 5%;
      transform: translateY(-50%);

      &--italic {
        font-style: italic;
      }

      &--middle {
        font-size: calc(3 * $fs-section-title);
        color: $main-color;
      }
    }

    &__mobile {
      display: block;

      @media (min-width: 576px) {
        display: none;
      }
    }

    &__desktop {
      display: none;

      @media (min-width: 576px) {
        display: block;
        min-height: 234px;
        object-fit: cover;
        object-position: 72%;
      }
    }
  }

  .es-why {
    background-color: $main-color;
    font-family: $Ember;

    .es-features__title {
      height: 2em;
    }
  }

  .es-dose {
    background: rgb(0, 97, 78);
    background: linear-gradient(90deg, rgba(0, 97, 78, 1) 0%, #007f67 100%);

    &__grid {
      display: flex;
      flex-direction: column;
      background-color: #a1bd39;
      border-radius: 15px;
      color: #fff;
      -webkit-box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      -moz-box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      @media (min-width: 992px) {
        font-size: calc(1.25 * $fs-base);
      }
      &--row {
        display: grid;
        grid-template-columns: 42% 1fr;
        padding: 1rem;
        &:nth-of-type(2n) {
          background-color: #bad45b;
        }
        &:last-of-type {
          border-radius: 0 0 15px 15px;
        }
      }
    }
    &__bold {
      font-weight: $fw-bold;
    }
    &__textUnderBox {
      font-size: $fs-base;
      color: $text;
    }
    &__box {
      padding: 0;
      background-color: $main-color;
      border-radius: 15px;
      color: $text;
      -webkit-box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      -moz-box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
      box-shadow: 2px 7px 15px 0px rgba(0, 99, 79, 1);
    }
    &__figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: $fs-base;
      font-family: $Ember;
      padding: 1rem;
      @media (min-width: 992px) {
        font-size: calc(1.25 * $fs-base);
      }
      img {
        max-height: 130px;
        @media (min-width: 992px) {
          max-height: 250px;
        }
      }
    }
    &__name {
      text-align: center;
      color: $text;
      font-size: calc(1.3 * $fs-base);
      margin-top: 10px;
      @media (min-width: 992px) {
        font-size: calc(1.625 * $fs-base);
      }
    }
    &__description {
      color: $text-black;
      margin-block: 7px;
      @media (min-width: 992px) {
        max-width: 50%;
        margin: auto;
        margin-bottom: 10px;
      }
    }
    &__title {
      font-family: $title;
      font-size: $fs-section-title;
      font-weight: $fw-bold;
      color: $text;
      text-transform: uppercase;
    }
  }

  .es-video {
    margin: 0 auto 64px;
    width: 100%;
    position: relative;
    background-color: $main-color;

    &__container {
      margin: 0 auto;
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }

    &__iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &__text {
      text-align: center;
      color: $text;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto 10px;
      font-size: 38px;
      font-family: $title;
      line-height: 1.2;

      p {
        // margin: 10px;
        letter-spacing: 1px;
      }

      &--green {
        color: $main-color--1;
      }
    }
  }

  .es-cross {
    &__title {
      width: 100%;
      text-align: center;
    }

    &__text {
      text-align: center;
      color: $main-color--1;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto 10px;
      font-size: 38px;
      font-family: $title;
      line-height: 1.3;

      p {
        letter-spacing: 1px;
      }
    }

    &__badge {
      position: absolute;
      width: max-content;
      padding: 5px 10px;
      top: -10px;
      left: -10px;
      color: $text;
      background-color: $secondary-color;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }

    &__head {
      font-size: 20px;
      font-weight: 800;
    }

    &__image {
      max-height: 150px;
    }

    &__emptyImage {
      height: 160px;
    }

    & table {
      padding: 0;
      margin: 0;
      border-color: transparent;
    }

    &__bordered-1 {
      & tbody {
        border: 3px solid $main-color;
        border-radius: 10px;
      }
    }

    &__bordered-2 {
      & tbody {
        border: 3px solid #71c7d6;
        border-radius: 10px;
      }
    }

    & td {
      vertical-align: middle;
      border: none;
      min-width: 150px;
      color: $text-black;
      font-size: 14px;
      font-weight: 500;
    }

    & th {
      vertical-align: middle;
      border: none;
      min-width: 110px;
      color: $main-color--1;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .es-articles {
    background-color: $main-color;

    &__title {
      width: 100%;
      text-align: center;
    }

    &__text {
      text-align: center;
      color: $main-color--2;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto 10px;
      font-size: 37px;
      border-radius: 5px;
      font-family: $title;
      line-height: 1.3;

      p {
        letter-spacing: 1px;
      }
    }

    &__text1 {
      font-size: 18px;
      color: $main-color--1;
      font-weight: 300;
    }

    &__subtitle {
      font-size: 18px;
      color: $main-color--2;
      font-weight: 700;
      max-width: 360px;
      margin: 0 auto;
    }

    &__button {
      text-decoration: none;
      color: $text;
      width: max-content;
      padding: 5px 10px;
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 20px;
      border-radius: 5px;
      line-height: 1.3;
      margin: 0 auto 10px;
      background-color: $main-color--2;
    }
  }

  .es-footer {
    &__text {
      color: $text-black;
      font-size: 14px;
      font-weight: 500;

      &--1 {
        font-size: 12px;
        white-space: nowrap;
      }

      &--2 {
        font-weight: 700;
      }

      &--3 {
        font-size: 32px;
        font-weight: 700;
        color: $main-color--2;
      }

      &--italic {
        font-style: italic;
      }
    }
  }
}

.contents-25-icon {
  display: block;
  width: 50%;
  padding: 5%;
  margin: 1em auto auto;
  aspect-ratio: 1;
  border-radius: 2000px;
}




@media (min-width:576px) {


  .es-footer {
    &__text {
      &--1 {
        font-size: 14px;
      }
    }
  }
}

@media (min-width:768px) {



  .es-cross {
    &__image {
      max-height: 200px;
    }

    &__emptyImage {
      height: 214px;
    }
  }

  .es-articles {
    &__text {
      font-size: 38px;
    }
  }


}

@media (min-width:992px) {
  .es-mobile-break {
    display: none;
  }



  .es-cross {
    &__articles {
      &:hover {
        background-color: $text-black;
      }
    }
  }

  .contents-25-icon {
    width: 10%;
  }
}